<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>

  <body class="m-2">

    <h1>Add A Review</h1>
    <form class="form" action="{% url 'djangoapp:add-review' dealerId %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="review" class="form-label">Review Content</label>
        <textarea class="form-control" id="review" name="review" rows="2" required></textarea>
      </div>
      <div class="mb-3">
        <input type="checkbox" name="purchase" id="purchase">
        <label for="purchase" class="form-check-label">Did you purchase?</label>
      </div>
      <div class="mb-3">
        <label for="car" class="form-label">Select Car</label>
        <select name="car" id="car" class="form-select" required>
          {% for car in cars %}
          <option selected value={{car.id}}>{{car.car_make.name}}-{{car.name}}-{{ car.year|date:"Y" }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="purchase_date" class="form-label">Select Purchase Date</label>
        <input class="form-control" class="date-own form-control" type="date" name="purchase_date" id="purchasedate">
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
    

  </body>
</html>